<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cadastroServlet</servlet-name>
        <servlet-class>bd.jee.meuprogama.CadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServlet</servlet-name>
        <servlet-class>bd.jee.meuprogama.EditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServlet</servlet-name>
        <servlet-class>bd.jee.meuprogama.ExcluirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarServlet</servlet-name>
        <servlet-class>bd.jee.meuprogama.BuscarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>formServlet</servlet-name>
        <servlet-class>bd.jee.meuprogama.formServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTudoServlet</servlet-name>
        <servlet-class>bd.jee.meuprogama.ListarTudoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastroServlet</servlet-name>
        <url-pattern>/cadastroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServlet</servlet-name>
        <url-pattern>/EditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServlet</servlet-name>
        <url-pattern>/ExcluirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarServlet</servlet-name>
        <url-pattern>/BuscarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>formServlet</servlet-name>
        <url-pattern>/formServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTudoServlet</servlet-name>
        <url-pattern>/ListarTudoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
